*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: bold;
}

body{
	height: 100vh;
	width: 100%;
}
.container{
	position: relative;
	width: 60%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
	top: 20%;
	margin-left: 20%;


}
	
.contact-box{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
}	

.left{
	background: url(IMG_9591.png) no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 20px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
	position: absolute;
	left: 50;
	bottom: 0;
	transform: translate(-50%);
	height: 4px;
	width: 50px;
	border-radius: 2px;
	background-color: orange;
}
.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: orange;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
	background-color: #27ae60;
}

.field:focus{
	border: 2px solid rgba(30,85,250,0.47);
	background-color: #fff;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 0px;
	font-size: 2em;
}


ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 2px solid #transparent;
	transition: 0.6 ease
	text-size: 4em;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
header{
	background-image: url(IMG_9584.jpg);
	height: 100vh;
	width:auto;
	background-size: cover;
	background position: center;
	background-repeat: no-repeat;
]	