 /* Background */

 * {
  margin: 0;
  padding: 0;
  font-family: bold;
  box-sizing: border-box;
}
body {
  background-image: url(../IMG_9584.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  height: auto;
  width: auto;
  overflow: hidden;
}

nav {
  display: flex;
  padding: 30px;
  color: white;
  align-items: center;
  justify-content: space-between;
  float: right;
  z-index: 10;
  position: relative;
}
.menu-btn {
  display: none;
}

.prabesh-pic {
  width: 25% !important;
}

i {
  font-size: 1.5rem;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  font-size: 2em;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 2px solid transparent;
  transition: 0.6 ease;
  font-size: 1em;
}

ul li a:hover {
  background-color: #fff;
  color: #000;
}

/* Home page */

.head-content {
  text-align: center;
  margin-top: 5%;
}
.head-content img {
  border-radius: 20%;
  border: 3px solid #fff;
  margin-top: 100px;
  width: 350px;
  height: 350px;
}

.head-content h5 {
  font-size: 3em;
  font-family: Algerian;
  color: #fff;
}
.animation-h5 {
  animation: fadeIn 1s ease;
}
@keyframes fadeIn {
  from {
    transform: scale(3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}

/* Portfolio */

img {
  /*margin-top: 20%;*/
}
.image {
  padding-top: 15%;
  margin-left: 40px;
  letter-spacing: 60px;
}

/* Contact form */

.container {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  top: 20%;
  margin-left: 20%;
  z-index: 1;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.left {
  background: url(IMG_9591.png) no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.right {
  padding: 20px 40px;
}

h4 {
  padding: 0 0 10px;
  margin-bottom: 10px;
  font-size: 2em;
  border-bottom: 2px solid orange;
  padding-bottom: 10px;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: orange;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #27ae60;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

img {
  width: 30%;
  height: 30%;
}

/* cv */

.cv-box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.cv-box h2 {
  margin-top: 20px;
}
.cv-box p {
  margin-bottom: 10px;
}
.cv-left {
  background-color: rgb(44, 44, 44);
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}
.cv-left img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}
.cv-right {
  flex: 2;
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.cv-right h1 {
  position: relative;
}
.cv-right h1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: orange;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.cv-box p{
	font-size: 20px;
}
.cv-box h1{
	font-size: 2em;
}
.cv-box h2{
	font-size: 2em;
}
.cv-box h3{
	font-size: 2em;
}

/* report */

.report {
  width: 100%;
  height: auto;
  background-color: rgba(255, 99, 71, 0.5);
  flex-direction: middle;
  background-image: auto;
}
.report p {
  color: #000;
  font-family: bold;
  font-size: 2em;
}
.report h5 {
  font-size: 4em;
}

.report img {
  height: 80%;
  width: 80%;
  margin-left: 10%;
}
.report h6 {
  font-size: 2em;
}

/* Media Query */

@media (max-width: 700px) {
  .menu-btn {
    display: block;
    z-index: 10;
  }
  .mainmenu {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainmenu.show {
    display: flex;
  }
  .report h5 {
    font-size: 2em;
  }
  .report h6 {
    font-size: 1.7rem;
  }
  .report p {
    font-size: 0.9rem;
  }
  .cv-left{
    width: 40% !important;
  }
  .cv-left img{
    width: 100% !important;
  }

  .prabesh-pic {
    width: 70% !important;
  }
  .cv-box p{
  	font-size: 12px ;
  }
  .cv-box h1{
	font-size: 1em;
}
.cv-box h2{
	font-size: 1em;
}
.cv-box h3{
	font-size: 1em;
}

}
.idea{
  width: 50%;
  height: auto;
  display: inline-flex;
  letter-spacing: 40px;
}
}